@import "~bootstrap/scss/bootstrap";

html,
body,
#root {
  height: 100%;
}

.nav-link {
  color: gray;
}
.nav-link:hover {
  color: black;
}

.nav-link.active {
  color: black;
  font-weight: 500;
}
